:root {
  --sidebar-width: 15rem;
}

.main-content {
  padding: 1em;
}

.ui.vertical.menu.sidebar-menu,
.main-content {
  margin-top: 40px !important;
  height: calc(100% - 40px) !important;
}

@media (min-width: 768px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    width: var(--sidebar-width) !important;
  }
  .main-content {
    margin-left: var(--sidebar-width);
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
  .ui.push.sidebar {
    transition: none;
  }
}
