html,
body,
#root {
  height: 100%;
}

/* Default font size for all screen sizes */
html,
body {
  font-size: 16px;
}

/* Font size for screens up to 767px width (mobile) */
@media (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
}

/* Font size for screens between 768px and 991px width (tablet) */
@media (min-width: 768px) and (max-width: 991px) {
  html,
  body {
    font-size: 18px;
  }
}

/* Font size for screens between 992px and 1199px width (computer) */
@media (min-width: 992px) and (max-width: 1199px) {
  html,
  body {
    font-size: 20px;
  }
}

/* Font size for screens between 1200px and 1919px width (large screen) */
@media (min-width: 1200px) and (max-width: 1919px) {
  html,
  body {
    font-size: 22px;
  }
}

/* Font size for screens 1920px and above width (widescreen) */
@media (min-width: 1920px) {
  html,
  body {
    font-size: 24px;
  }
}
